{% for event in events %}
<div class="panel panel-default">
  <div class="panel-heading text-left">
    <h4 class="panel-title">
      <input type="checkbox" ng-if="checkRemEvent">
      <a data-toggle="collapse" href="#{{ event.event_id }}">{{ event.title }}</a>
    </h4>

    <div id="{{ event.event_id }}" class="panel-collapse collapse">
      <div class="panel-body text-left">
        <ul style="margin: 0; padding: 0">
          <li>{{ event.description }}</li>

          <li>Start of event: {{ event.start }}</li>

          <li>End of event: {{ event.end }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endfor %}
