{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

    <script src="{% static 'calman/js/cal_controller.js' %}"></script>

    <script>
      $(document).ready(function() {
        var dateFormat = {
          dateFormat: 'yy-mm-dd'
        }

        $('#datepicker-1').datepicker(dateFormat)
        $('#datepicker-2').datepicker(dateFormat)
      })
    </script>

    <style>
      html, body {
        height: 100%;
      }

      .cont {
        height: 84%;
      }

      .row {
        height: 100%;
      }

      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }

      .sidenav {
        padding-top: 20px;
        height: 100%;
        background-color: #f1f1f1;
      }

      footer {
        background-color: #555;
        color: white;
        padding: 1%;
      }

      .well {
        margin-bottom: 0;
      }

      .col-sm-8 {
        padding-top: 20px;
      }

      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }

        .cont {
          height: auto;
        }
      }
    </style>

    <script>
    </script>
  </head>

  <body ng-app="emails" ng-controller="calCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">CalMan</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavBar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center cont">
      <div class="row">
        <div class="col-sm-2 sidenav">
          <p>
          <button type="button" class="btn btn-primary btn-block" ng-click="showAddPanel()">
            Add Event
          </button>
          </p>
          <p>
          <button type="button" class="btn btn-primary btn-block" ng-click="removeEvents()">
            Remove Events
          </button>
          </p>
        </div>

        <div class="col-sm-8">
          <div class="panel panel-default" ng-show="showAddEvent">
            <div class="panel-heading text-left">
              Add Event
              <button type="button" class="close" ng-click="closeAddPanel()">&times;</button>
            </div>

            <div class="panel-body text-left">
              <div ng-form="eventForm">
                <div class="form-group">
                  <label>Title </label>
                  <input type="text" class="form-control" ng-model="title" required>
                </div>
                <div class="form-group">
                  <label>What is it about ? </label>
                  <input type="text" class="form-control" ng-model="description" required>
                </div>
                <div class="form-group">
                  <label>When does it start ?</label>
                  <input type="text" class="form-control" id="datepicker-1" ng-model="startDate" required>
                </div>
                <div class="form-group">
                  <label>When does it end ?</label>
                  <input type="text" class="form-control" id="datepicker-2" ng-model="endDate" required>
                </div>
                <button type="button" class="btn btn-default" style="margin-top: 5px" ng-click="addEvent()" ng-disabled="eventForm.$invalid">Add</button>
              </div>
            </div>
          </div>

          <div class="panel-group clearfix" ng-show="showEventList">
            {% include "calman/event.html" %}
            <div class="btn-group pull-right" style="margin-top: 5px">
              <button type="button" class="btn btn-danger" ng-show="submitRem" ng-click="reqRem()">Submit</button>
              <button type="button" class="btn btn-success" ng-show="noRem" ng-click="cancelRem()">Cancel</button>
            </div>
          </div>
        </div>

        <div class="col-sm-2 sidenav">
          <div class="well">
            Manage your events easily
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center">
      <p>Copyright</p>
    </footer>
  </body>
</html>
