{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'calman/css/login.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="container-fluid centered">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-heading">
            <h2 class="text-center">CalMan</h2>
          </div>

          <hr />

          <div class="modal-body">
            <form action="login" class="login" method="GET">
              <div class="form-group text-center">
                <button type="submit" class="btn btn-lg">
                  Login with google
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
